<nav class="navbar navbar-default">

<div class="container-fluid">
	<div class="navbar-header">
		<%= link_to "o$tore", root_path, class: "navbar-brand" %>
	</div>
	<ul class="nav navbar-nav">	
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About Us", pages_about_path %></li>
		<li><%= link_to "Contact Us", pages_contact_path %></li>
	</ul>
</div>	
</nav>